.row{
	margin-right: 0px;
    margin-left: 0px;}
}
.navbar-brand>img{
	width: 120px !important;
	position: relative !important;
    bottom: 15px !important;
}
ul.nav.navbar-nav.navbar-right.navbar__navigation a {
	color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}
.navbar{
	background-color: #121619;
	padding: 5vh 14vh;
    border-radius: 0px;
    margin-bottom: 0px;
}
.header_barbershop{
	background-image: url(../img/post-image.jpg);
	height: 600px;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #ffffff;
}
.header_barbershop h1{
	font-family: 'Playfair Display', serif;
	text-align: center;
	font-size: 8rem;
	font-style: italic;
	color: #FFFFFF;
	margin-top: 18vh;
}
a.btn.button_barbershop{
	font-size: 26px;
}
.btn.button_barbershop img{
	width: 80px;
	background-color: #FFFFFF;
}
i.fas.fa-angle-double-down {
    position: relative;
    top: 65vh;
    color: #FFFFFF;
}
.navbar-brand>img {
    display: block;
    width: 120px;
    position: relative;
    bottom: 4vh;
}
.blog__icon{
	width: 23px;
}
.blog__heart, .blog__share{
	width: 25px;
    margin: 2rem;
}
.blog h4{
	font-family: 'Playfair Display', serif;
	padding: 3rem 0rem;
}
.blog p{
	font-family: 'Roboto', sans-serif;
	font-size: 2rem;
}
.profile{
	border-top: 1px solid #E6E7E7;
	padding: 4vh;
}
.profile__inner{
	font-family: 'Roboto', sans-serif;
}
.profile__inner img {
    border-radius: 50%;
    width: 70%;
    margin-left: 15vh;
}
.profile__inner h5{
	font-family: 'Playfair Display', serif;
	font-style: italic;
	font-size: 2rem;
    margin-top: 8vh;	
}
.profile__inner p{
	font-family: 'Roboto', sans-serif;
	font-size: 1.6rem;
}
.entradas {
    padding: 10vh 0;
    font-family: 'Roboto', sans-serif;
    background-color: #E6E7E7;
    font-size: 2rem;
    color: #6C6E70;
}
.footer_barbershop{
	background-color: #121619;
	text-align: center;
	padding:6vh;
}
.footer_barbershop img{
	width: 120px;
}

@media (max-width: 475px) {
	.header_barbershop h1{
		font-size: 4rem;
	}
	.header_barbershop{
		height: 400px;
	}
}