nav.navbar.navbar_barbershop{
	background-color: #121619;
	padding: 5vh 14vh;
    border-radius: 0px;
    margin-bottom: 0px;
}

nav.navbar.navbar_barbershop a{
	color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

.navbar-brand>img{
	width: 120px;
	position: relative;
    bottom: 15px;
}
.header_barbershop{
	background-image: url(../img/post-image.jpg);
	height: 600px;
	background-repeat: no-repeat;
	background-size: cover;
}
.header_barbershop h1{
	font-family: 'Playfair Display', serif;
	text-align: center;
	font-size: 8rem;
	font-style: italic;
	color: #FFFFFF;
	margin-top: 18vh;
}
.btn.button_barbershop img{
	width: 80px;
	background-color: #FFFFFF;
}